.headroom {
  will-change: transform;
  background-color: inherit;
  transition: all 0.15s ease;
  position: fixed;
  z-index: 10;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--not-top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #172b4d !important;
  box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1);
}
